<fieldset class="lastfm">
	<legend>Last.fm</legend>

	<button class="enable-lastfm btn"><i class="icon-music"></i> Enable Last.fm scrobbling</button>
	<button class="disable-lastfm btn"><i class="icon-music"></i> Disable Last.fm scrobbling (enabled for ‘%user%’)</button>
	<button class="loading-lastfm btn disabled"><i class="icon-spinner icon-spin"></i> Waiting for authorization…</button>
</fieldset>

<fieldset class="replaygain">
	<legend>ReplayGain</legend>

	<div>
		<input type="radio" name="replaygain" value="disable" id="disable-replaygain">
		<label for="disable-replaygain">Disable ReplayGain</label>
	</div>

	<div>
		<input type="radio" name="replaygain" value="album" id="album-replaygain">
		<label for="album-replaygain">Apply ReplayGain per album</label>
	</div>

	<div>
		<input type="radio" name="replaygain" value="track" id="track-replaygain">
		<label for="track-replaygain">Apply ReplayGain per track</label>
	</div>
</fieldset>

<fieldset class="gapless">
	<legend>Gapless playback</legend>

	<div>
		<label for="gapless">Seconds before the end of the track to start playing the next track</label><br>
		<input type="text" name="gapless" id="gapless"><br>
		Set to 0 to autodetect, -1 to disable. Fractions are allowed. Reasonable values are usually about 0.1 to 0.3s.
	</div>
</fieldset>

<fieldset class="misc">
	<legend>Misc</legend>
	<button class="clear-localstorage btn"><i class="icon-cog"></i> Clear all saved data</button>
</fieldset>

<br>
<br>
<br>
