<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<link rel="icon" type="image/png" href="/tpl/favicon.png">
		<link rel="shortcut icon" href="/tpl/favicon.ico">
		<link rel="apple-touch-icon" href="/tpl/logo.png" />

		<link rel="stylesheet" href="/tpl/bootstrap/bootstrap.css?v={{ version }}">
		<link rel="stylesheet" href="/tpl/main.css?v={{ version }}">

		<title>Nordavind</title>
	</head>

	<body>
		<div id="library" class="pane">
			<div id="search">
				<div>
					<i class="icon-filter"></i>
					<input placeholder="Filter (artist/album)" />
				</div>
			</div>
			<ol>
				{% for artist in library %}
					<li class="artist" data-id="{{ artist.id }}">
						<i class="icon-expand-alt"></i>
						<span>{{ artist.name|e }}</span>
					</li>
					{% for album in artist.albums %}
						<li class="album" data-id={{ album.id }}>
							<span>{{ album.released }} {{ album.name|e }}</span>
						</li>
					{% endfor %}
				{% endfor %}
			</ol>
			<div class="resize-handle resize-horizontal"></div>
		</div>

		<div id="player" class="stopped right-of-library pane">
			<audio preload="auto"></audio>

			<button class="btn btn-small stop"><i class="icon-stop"></i></button>

			<button class="btn btn-small play"><i class="icon-play"></i></button>
			<button class="btn btn-small pause"><i class="icon-pause"></i></button>

			<button class="btn btn-small backward"><i class="icon-backward"></i></button>
			<button class="btn btn-small forward"><i class="icon-forward"></i></button>

			<span class="volume"></span>
			<span class="seekbar"><span class="buffer"></span></span>
		</div>

		<div id="playlist-wrapper" class="right-of-library pane">
			<table id="playlist" class="table table-condensed table-striped">
				<thead>
					<tr>
						<th class="play-icon" title="Playing"><span></span><i></i></th>
						<th class="trackno" title="Disc number.Track number" data-sort="numeric"><span></span><i></i></th>
						<th class="artist-album" title="Artist / Album"><span>Artist / Album</span><i></i></th>
						<th class="title" title="Title"><span>Title</span><i></i></th>
						<th class="length" title="Length" data-sort="numeric"><span></span><i></i></th>
					</tr>
				</thead>

				<tbody>
				</tbody>
			</table>
		</div>

		<div id="info" class="right-of-library pane">
			<div class="resize-handle resize-vertical"></div>
			<img src="" alt="Album cover">

			<div class="table-wrapper">
				<table class="table table-striped table-condensed">
					<tbody>
					</tbody>
				</table>
			</div>
		</div>

		<div id="status" class="right-of-library">
			<span>Stopped</span>
			<span></span>
			<span></span>
			<a href="http://code.arp242.net/nordavind">Nordavind {{ version }}</a>
		</div>

		<script src="/tpl/jquery.js?v={{ version }}"></script>
		<script src="/tpl/jquery.mousewheel.js?v={{ version }}"></script>
		<script src="/tpl/scrollbar.js?v={{ version }}"></script>

		<script src="/tpl/lib.js?v={{ version }}"></script>
		<script src="/tpl/library.js?v={{ version }}"></script>
		<script src="/tpl/playlist.js?v={{ version }}"></script>
		<script src="/tpl/player.js?v={{ version }}"></script>
		<script src="/tpl/info.js?v={{ version }}"></script>

		<script src="/tpl/main.js?v={{ version }}"></script>
	</body>
</html>
