<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<link rel="icon" type="image/png" href="/tpl/favicon.png">
		<link rel="shortcut icon" href="/tpl/favicon.ico">
		<link rel="apple-touch-icon" href="/tpl/logo.png">

		<link rel="stylesheet" href="/tpl/bootstrap/bootstrap.css?v={{ version }}">
		<link rel="stylesheet" href="/tpl/main.css?v={{ version }}">

		<title>Nordavind</title>
	</head>

	<body>
		<div id="library" class="pane">
			<div id="search">
				<div>
					<i class="icon-filter"></i>
					<input placeholder="Filter (artist/album)" />
					<button class="btn btn-small save-search" title="Save search"><i class="icon-save"></i></button>
					<select>
						<option></option>
						{% for s in searches %}
							<option value="{{ s.search }}"  data-id="{{ s.id }}">{{ s.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<button class="btn btn-small random-album" title="Add a random album to the playlist from the currently visible albums in the library">
				<i class="icon-random"></i>
			</button>
			{% include "library.html" %}
			<div class="resize-handle resize-horizontal"></div>
		</div>

		<div id="player" class="stopped right-of-library pane">
			<audio preload="auto" class="active"></audio>

			<button class="btn btn-small play"><i class="icon-play"></i></button>
			<button class="btn btn-small pause"><i class="icon-pause"></i></button>

			<button class="btn btn-small backward"><i class="icon-backward"></i></button>
			<button class="btn btn-small forward"><i class="icon-forward"></i></button>

			<button class="btn btn-small stop"><i class="icon-stop"></i></button>

			<span class="volume"></span>
			<span class="seekbar"><span class="buffer"></span></span>

			<span class="buttons-right">
				<button class="btn btn-small settings"><i class="icon-wrench"></i></button>
			</span>
		</div>

		<div id="playlist-wrapper" class="right-of-library pane">
			{# Making the <thead> behave in the way I wanted it proved to be impossible, so we fake it #}
			<div id="playlist-thead">
				<span class="cell play-icon" title="Playing">
					<span>Playing</span>
					<i></i>
				</span>
				<span class="cell trackno" title="Disc number.Track number" data-sort="numeric">
					<span>Disc number.Track number</span>
					<i></i>
				</span>
				<span class="cell artist-album" title="Artist / Album">
					<span>Artist / Album</span>
					<i></i>
				</span>
				<span class="cell title" title="Title">
					<span>Title</span>
					<i></i>
				</span>
				<span class="cell length" title="Length" data-sort="numeric">
					<span>Length</span>
					<i></i>
				</span>
			</div>

			<table id="playlist" class="table table-condensed table-striped">
				<thead>
					<tr>
						<th class="play-icon">a</th>
						<th class="trackno">a</th>
						<th class="artist-album">a</th>
						<th class="title">a</th>
						<th class="length">a</th>
					</tr>
				</thead>

				<tbody class="tbody-playlist">
				</tbody>
			</table>
		</div>

		<div id="info" class="right-of-library pane">
			<div class="resize-handle resize-vertical"></div>
			{# Makes the HTML5 validator happy (src must be non-empty) #}
			<img alt="Album cover" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAAmJLR0QA/4ePzL8AAAALSURBVAjXY2BgAAAAAwABINWUxwAAAABJRU5ErkJggg==">

			<div class="table-wrapper">
				<table class="table table-striped table-condensed">
					<tbody>
					</tbody>
				</table>
			</div>
		</div>

		<div id="status" class="right-of-library">
			<span>Stopped</span>
			<span></span>
			<span></span>
			<a href="http://code.arp242.net/nordavind"><i class="icon-bitbucket"></i> Nordavind {{ version }}</a>
		</div>

		{#
		<script src="/tpl/jquery.js?v={{ version }}"></script>
		#}
		<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="/tpl/jquery.mousewheel.js?v={{ version }}"></script>
		<script src="/tpl/scrollbar.js?v={{ version }}"></script>
		<script src="/tpl/md5.js?v={{ version }}"></script>

		<script src="/tpl/lib.js?v={{ version }}"></script>
		<script src="/tpl/settings.js?v={{ version }}"></script>
		<script src="/tpl/library.js?v={{ version }}"></script>
		<script src="/tpl/playlist.js?v={{ version }}"></script>
		<script src="/tpl/player.js?v={{ version }}"></script>
		<script src="/tpl/info.js?v={{ version }}"></script>
		<script src="/tpl/scrobble.js?v={{ version }}"></script>

		<script src="/tpl/main.js?v={{ version }}"></script>
	</body>
</html>
